examples/ftrack-thumbnails-gallery.json
[{"id":"7890b86f.3f4388","type":"ftrack-session","z":"448d5b.f647f2a4","server":"","name":"session","x":120,"y":220,"wires":[["35ba67af.93b8e8"]]},{"id":"35ba67af.93b8e8","type":"ftrack-op","z":"448d5b.f647f2a4","name":"get thumbs_id","op":"query","payload":"select thumbnail_id from AssetVersion","payloadType":"str","x":340,"y":220,"wires":[["33d9db1d.2da1a4"]]},{"id":"33d9db1d.2da1a4","type":"split","z":"448d5b.f647f2a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":220,"wires":[["9a214506.7ac658"]]},{"id":"9a214506.7ac658","type":"ftrack-op","z":"448d5b.f647f2a4","name":"resolve thumbnails path","op":"thumbnail","payload":"payload.thumbnail_id","payloadType":"msg","x":260,"y":340,"wires":[["b7974bef.feb4f8"]]},{"id":"b7974bef.feb4f8","type":"join","z":"448d5b.f647f2a4","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":340,"wires":[["61bc75e1.b2754c"]]},{"id":"61bc75e1.b2754c","type":"template","z":"448d5b.f647f2a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n{{#payload}}\n  \t<img src=\"{{url}}\">\n{{/payload}}\n</div>","output":"str","x":660,"y":340,"wires":[["3a7ce845.730398"]]},{"id":"d8001f63.006fa","type":"http in","z":"448d5b.f647f2a4","name":"","url":"/thumbs","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["7890b86f.3f4388"]]},{"id":"3a7ce845.730398","type":"http response","z":"448d5b.f647f2a4","name":"render html","statusCode":"","headers":{"content-type":"text/html"},"x":870,"y":340,"wires":[]}]