examples/ftrack-comment-sentiment-overview.json
[{"id":"b5bf8ba2.6210c8","type":"ftrack-session","z":"f73894e4.00c248","server":"","name":"","x":400,"y":120,"wires":[["ca8ca0a1.87f66"]]},{"id":"cbc10bdc.18eba8","type":"debug","z":"f73894e4.00c248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":180,"wires":[]},{"id":"cb7e7d6a.3605b","type":"split","z":"f73894e4.00c248","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":120,"wires":[["8699a12.a56ff6"]]},{"id":"8699a12.a56ff6","type":"sentiment","z":"f73894e4.00c248","name":"content sentiment","property":"payload.content","x":970,"y":120,"wires":[["3c2727ff.251ae8"]]},{"id":"3c2727ff.251ae8","type":"sort","z":"f73894e4.00c248","name":"","order":"descending","as_num":false,"target":"","targetType":"seq","msgKey":"","msgKeyType":"elem","seqKey":"sentiment.score","seqKeyType":"msg","x":1130,"y":120,"wires":[["22cf9719.53d118"]]},{"id":"ba29ff1d.1487b","type":"http in","z":"f73894e4.00c248","name":"","url":"/mood","method":"get","upload":false,"swaggerDoc":"","x":200,"y":120,"wires":[["b5bf8ba2.6210c8"]]},{"id":"14dd6f26.930c61","type":"http response","z":"f73894e4.00c248","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":1550,"y":120,"wires":[]},{"id":"22cf9719.53d118","type":"join","z":"f73894e4.00c248","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":120,"wires":[["3b83a6c.51fa65a"]]},{"id":"3b83a6c.51fa65a","type":"template","z":"f73894e4.00c248","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<ul>\n{{#payload}}\n   <li> <p>{{content}}</p> </li>\n{{/payload}}\n</ul>","output":"str","x":1380,"y":120,"wires":[["14dd6f26.930c61","cbc10bdc.18eba8"]]},{"id":"ca8ca0a1.87f66","type":"ftrack-op","z":"f73894e4.00c248","name":"","op":"query","payload":"select content from Note","payloadType":"str","x":590,"y":120,"wires":[["cb7e7d6a.3605b"]]}]